In [1]:
import numpy as np
import pandas as pd

In [2]:
pip install Quandl

Collecting Quandl
  Downloading Quandl-3.7.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: pandas>=0.14 in /Users/user/anaconda3/lib/python3.11/site-packages (from Quandl) (1.5.3)
Requirement already satisfied: numpy>=1.8 in /Users/user/anaconda3/lib/python3.11/site-packages (from Quandl) (1.24.3)
Requirement already satisfied: requests>=2.7.0 in /Users/user/anaconda3/lib/python3.11/site-packages (from Quandl) (2.31.0)
Requirement already satisfied: inflection>=0.3.1 in /Users/user/anaconda3/lib/python3.11/site-packages (from Quandl) (0.5.1)
Requirement already satisfied: python-dateutil in /Users/user/anaconda3/lib/python3.11/site-packages (from Quandl) (2.8.2)
Requirement already satisfied: six in /Users/user/anaconda3/lib/python3.11/site-packages (from Quandl) (1.16.0)
Requirement already satisfied: more-itertools in /Users/user/anaconda3/lib/python3.11/site-packages (from Quandl) (8.12.0)
Requirement already satisfied: pytz>=2020.1 in /Users/user/anaconda3/lib/python3.11/site-packages (from pandas>=0.14->Quandl) (2022.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/user/anaconda3/lib/python3.11/site-packages (from requests>=2.7.0->Quandl) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/user/anaconda3/lib/python3.11/site-packages (from requests>=2.7.0->Quandl) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/user/anaconda3/lib/python3.11/site-packages (from requests>=2.7.0->Quandl) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/user/anaconda3/lib/python3.11/site-packages (from requests>=2.7.0->Quandl) (2023.7.22)
Installing collected packages: Quandl
Successfully installed Quandl-3.7.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import quandl

In [3]:
suns = quandl.get('SIDC/SUNSPOTS_A')
suns.head()

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
Date,,,,
1700-12-31,8.3,NaN,NaN,1.0
1701-12-31,18.3,NaN,NaN,1.0
1702-12-31,26.7,NaN,NaN,1.0
1703-12-31,38.3,NaN,NaN,1.0
1704-12-31,60.0,NaN,NaN,1.0

In [4]:
suns.tail()

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
Date,,,,
2016-12-31,39.8,3.9,9940.0,1.0
2017-12-31,21.7,2.5,11444.0,1.0
2018-12-31,7.0,1.1,12611.0,1.0
2019-12-31,3.6,0.5,12884.0,1.0
2020-12-31,8.8,4.1,14440.0,1.0

In [7]:
#column filtering 
suns_filtered = suns[['Yearly Mean Total Sunspot Number','Definitive/Provisional Indicator']]
suns_filtered.head()

            Yearly Mean Total Sunspot Number  Definitive/Provisional Indicator
Date
1700-12-31                               8.3                               1.0
1701-12-31                              18.3                               1.0
1702-12-31                              26.7                               1.0
1703-12-31                              38.3                               1.0
1704-12-31                              60.0                               1.0

In [11]:
#row filtering 
rows_filtered = suns['20020101' :'20231231']
rows_filtered

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
Date,,,,
2002-12-31,163.6,9.8,6588.0,1.0
2003-12-31,99.3,7.1,7087.0,1.0
2004-12-31,65.3,5.9,6882.0,1.0
2005-12-31,45.8,4.7,7084.0,1.0
2006-12-31,24.7,3.5,6370.0,1.0
2007-12-31,12.6,2.7,6841.0,1.0
2008-12-31,4.2,2.5,6644.0,1.0
2009-12-31,4.8,2.5,6465.0,1.0
2010-12-31,24.9,3.4,6328.0,1.0
2011-12-31,80.8,6.7,6077.0,1.0
2012-12-31,84.5,6.7,5753.0,1.0
2013-12-31,94.0,6.9,5347.0,1.0
2014-12-31,113.3,8.0,5273.0,1.0
2015-12-31,69.8,6.4,8903.0,1.0
2016-12-31,39.8,3.9,9940.0,1.0
2017-12-31,21.7,2.5,11444.0,1.0
2018-12-31,7.0,1.1,12611.0,1.0
2019-12-31,3.6,0.5,12884.0,1.0
2020-12-31,8.8,4.1,14440.0,1.0

In [13]:
#Boolean Filtering
suns =[suns['Yearly Mean Total Sunspot Number'] > suns['Yearly Mean Total Sunspot Number'].mean()]
suns

TypeError: list indices must be integers or slices, not str